[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Sphaero2
Comment=Solve Jigsaws in Java
Exec=sphaero2
Icon=sphaero2
Terminal=false
Type=Application
Categories=Application;Game;
