PKG="TRIBsphaero2-sample"
NAME="Sample images for sphaero2"
ARCH="i386,sparc"
VERSION="1.4.0"
CATEGORY="application"
VENDOR="Peter Tribble"
EMAIL="peter.tribble@gmail.com"
PSTAMP="voyager"
BASEDIR="/"
CLASSES="none"
